<%- include("./parts/header.ejs") %> 

    <header class="header">
        <div class="container">
            <a href="#" class="header-brand">
                <i class="fas fa-book-open"></i> 
                Quizli
            </a> 
            <div class="auth">
                <a href="/login" class="login_button">
                    Login
                </a>
                <a href="/signup" class="signup_button">
                   Sign up
                </a>

            </div>
        </div>
    </header>

    <main class="main">
        <div class="container">
            <div class="main_info">
                <h2 class="main-title">
                    Birga o'ynang!
                    <span class="main_span">
                        Do'stlaringiz bilan birga maroq bilan  o'ynang! Zavq oling!
                    </span>
                </h2> 

                <div class="main_features">
                    <div class="feauture">
                        <div class="feauture-photo" >
                            <img src="public/icons/device.svg" class="photo" alt="">
                        </div>
                       <h3 class="feauture_title">
                        Real vaqt rejimida o'ynang!
                       </h3>
                    </div>
                    <div class="feauture">
                        <div class="feauture-photo" >
                            <img src="public/icons/feature.svg" class="photo" alt="">
                        </div>
                       <h3 class="feauture_title">
                        O'z o'yiningizni yarating!
                       </h3>
                    </div>
                    <div class="feauture">
                        <div class="feauture-photo" >
                            <img src="public/icons/analytics.svg" class="photo" alt="">
                        </div>
                       <h3 class="feauture_title">
                        Statiskangizni kuzatib boring
                       </h3>
                    </div>
                </div>

            </div>
            <div class="main_photo">
                
            </div>
        </div>
    </main>



<%- include("./parts/footer.ejs") %> 
